:root {
  --withe-color: #ffffff;
  --margin-mix: 10px;
}

body {
  background-color: var(--withe-color);
  font-family: "Rubik", sans-serif;
}

.header {
  box-sizing: border-box;
  color: #4a4a4a;
  width: 100vw;
  text-align: center;
  position: fixed;
  top: 0;
  background-color: var(--withe-color);
  z-index: 1;
  padding-top: var(--margin-mix);
}
.ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: var(--margin-mix);
  margin-bottom: 13px;
  list-style: none;
}
.list {
  text-transform: uppercase;
}

.first {
  margin-right: var(--margin-mix);
}
.second {
  margin-left: var(--margin-mix);
}

.link {
  padding: 10px;
}

.container {
  box-sizing: border-box;
  background-color: #3cdbc0;
  width: 100vw;
  height: 100vh;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paragraph {
  color: var(--withe-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}
/* <!--terminar esta parte, en el navegador esta en fila y tiene que estar en columnas --> */
.principal-title {
  color: var(--withe-color);
  font-size: 30px;
  max-width: 30vw;
  text-align: center;
}

@media all and (min-width: 768px) {
  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px;
  }
  .principal-title {
    font-size: 40px;
  }
}
